@model Owner
<tr style="background-color:ghostwhite">
    <td>
        @Model.Name @Model.Surname
    </td>
    <td>
        @Model.PhoneNumber
    </td>
    <td class="text-center">
        <form asp-action="Delete" method="post">
            <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-ownerId="@Model.Id">Edytuj</a>
            <input type="hidden" name="ownerId" value="@Model.Id"/>
            <button type="submit" class="btn btn-danger btn-sm">Usuń</button>
        </form>
    </td>
</tr>