@model Order
<tr style="background-color:ghostwhite">

  <tr>
    <td>
        @Model.Name
    </td>

    <td>
        @if (Model.EndDate == null)
        {<p> Nieskończone </p>}
        else
        {<a>Zakończone</a>}
    </td>

    <td>
        @Model.StartDate
    </td>

    <td>
        @if (Model.EndDate == null)
        {<a2> --- </a2>}
        else
        { @Model.EndDate}
    </td>

    <td class="text-center">
        <form asp-action="Delete" method="post">
            <a asp-action="End" class="btn btn-sm btn-warning" asp-route-orderId="@Model.Id" asp-route-carId="@Model.CarId">Zakończ</a>
            <input type="hidden" name="id" value="@Model.Id" />
            <!--<button type="submit" class="btn btn-danger btn-sm">Usuń</button>-->
            <input type="button" class="btn btn-info btn-sm" value="Aktywności w ramach zlecenia" onclick="location.href='@Url.Action("List", "Activity", new { orderId = Model.Id})'" />
        </form>
    </td>
</tr>